.all-patients {
    margin: 20px 10%;
}

.patient-popup {
    position: absolute;
    padding: 20px;
    top: 20%;
    left: 30%;
    width: 300px;
    background-color: #f8b195;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #6c5b7b;
    color: #355c7d;
}

.close-button {
    float:right;
    border: none;
    margin: 10px;
    background-color: transparent;
    color: #c06c84;
    font-size: 20px;
    font-weight: bold;
}

.address-line2 {
    display: flex;
}

p {
    margin-right: 5px;
}

.patient-name {
    border: none;
    margin: 10px;
    background-color: transparent;
    color: white;
}

.each-patient {
    height: 40px;
}

.bolden {
    font-weight: 700;
}

/* darkest: #355c7d
dark: #6c5b7b
mid: #c06c84
light: #f67280
lightest: #f8b195 */